<h1>
    <i class="fas fa-rss"></i>
    All Posts</h1>

<div class="card-columns">

    {{#each all as  |p|}}

    <div class="card bg-primary rounded-2xl mx-0 border-0">
        <div class="card-header pt-0 text-right font-weight-bold">
            <i class="fab fa-bimobject text-2xl text-light fa-pull-left m-1"></i>
            <a href="post/{{p.id}}" class="text-light ">
            {{p.category.category_name}}
            </a>
            </div>
        <img class="card-img-top" src="{{p.user.img_url}}" alt="post-author">
        <div class="card-body bg-light">
            <div class="card-text text-right">
                <i class="fas fa-calendar"> </i>
                {{format_date p.date_created}}
                <span class="text-right font-weight-bold font-italic text-sm">
                    by
                    <i class="fas fa-user-edit"> </i>
                    {{p.user.name }}
                </span>
            </div>

            <h6 class="card-title text-ubu text-dark font-weight-bold">
                <a href="/post/{{p.id}}">  {{p.title}}  </a>
            </h6>
            <small class="card-text text-ubu">{{p.content}}</small>
        </div>
        {{#if p.replies}}
        <div class="card-footer text-right py-0">
            <button class="btn btn-primary p-0" type="button" data-toggle="collapse"
                data-target="#replies_for_post_{{p.id}}" aria-expanded="false"
                aria-controls="replies_for_post_{{p.id}}">
                <b class="text-sm">Show/Hide</b>
                <i class="far fa-comment-dots text-2xl"></i>
            </button>
            {{#each p.replies as |c|}}

            <div class="text-right text-secondary collapse" id="replies_for_post_{{p.id}}">
                <i class="text-2xl text-secondary far fa-comment-dots fa-pull-left"></i>
                <p class="text-sm text-light">
                    {{c.comment}}
                </p>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="card-footer py-1 text-right">
            <i class="fas fa-comment-slash text-reg fa-pull-left"></i>
            <small class="">No comments yet</small>
        </div>
        {{/if}}
</div>

{{/each}}
</div>
