<h1>
    <i class="fas fa-rss"></i>
    All Posts</h1>
<nav aria-label="...">
  <ul class="pagination pagination-lg justify-content-center">
    <li class="page-item"><a class="page-link" href="/?page=1&limit=20">1</a></li>
    <li class="page-item"><a class="page-link" href="/?page=2&limit=20">2</a></li>
    <li class="page-item"><a class="page-link" href="/?page=3&limit=20">3</a></li>
    <li class="page-item"><a class="page-link" href="/?page=4&limit=20">4</a></li>
    <li class="page-item"><a class="page-link" href="/?page=5&limit=20">5</a></li>
  </ul>
</nav>
    <i>
    <i class="fas fa-info-circle text-lg"></i>
        Click on author's image or post title to view content individually on a new page where you will be leave a comment...</i>

    {{#each all as  |p|}}

<div class="media bg-body border-dark my-5 p-1">
    <a class="d-flex align-self-center mr-3" href="/post/view/{{p.id}}">
          <img class="img-author rounded-2xl" src="{{p.user.img_url}}" alt="">
    </a>
    <div class="media-body text-left">
        <a  href="/post/view/{{p.id}}"class="post-title text-2xl text-dark border-bottom border-dark"><i class="fab fa-bimobject mx-2"></i>{{p.title}}</a>
        <hr class="my-0">
        <i class="fas fa-calendar-alt m-2"> {{format_date p.date_created}} </i>
        <i class="fas fa-user m-2"> {{p.user.name}} </i>
        <p class="text-lg font-italic"><i class="fas fa-envelope mx-2"></i>{{p.content}}</p>
        {{#if p.replies}}
        <button class="btn btn-outline-dark border-0 btn-block text-norm p-0" type="button" data-toggle="collapse"
                data-target=".replies_for_post_{{p.id}}" aria-expanded="false"
                aria-controls="replies_for_post_{{p.id}}">
                <i class="fas fa-comment-dots text-xl py-2"></i>
                <i class="text-lg"> Show/Hide Comments</i>
            </button>
            {{#each p.replies as |c|}}
                <div class="media collapse show my-3 replies_for_post_{{p.id}}">
                    <div class="media-body p-2">
                    <i class="fas fa-comment-dots text-xl py-2"></i>
                        {{c.comment}}
                    </div>
                    <a class="d-flex disabled" >
                        <img class="img-comment rounded-2xl" src="{{c.user.img_url}}" alt="">
                    </a>
                </div>
            {{/each}}
                <div class="media collapse show my-3 replies_for_post_{{p.id}}">
                    <div class="media-body p-2">
                        <form action="/post/h/reply/{{p.id}}" method="post">
                            <div class="form-group">
                                <input type="text" name="comment" id="comment" class="form-control "
                                    value="A new comment">
                                <input class="btn btn-primary btn-block mt-2" type="submit" class="form-control"
                                    value="Submit comment">
                            </div>
                        </form>
                    </div>
                    <a class="d-flex disabled" >
                        <img class="img-comment rounded-2xl" src="{{c.user.img_url}}" alt="">
                    </a>
                </div>

        {{else}}
        <p class="font-italic">No comments for this post..</p>
        {{/if}}
    </div>
</div>

    {{/each}}
