<button class="btn btn-outline-primary btn-block btn-lg border-0" type="button" data-toggle="collapse" data-target="#filt_div" aria-expanded="false"
        aria-controls="filt_div">
        <i class="fas fa-list" aria-hidden="true"></i>
    Show/Hide Categories to Filter
</button>
<div class="collapse show" id="filt_div">
    <form action="/filter/" method="post">
    <div class="form-group my-0">
    <select multiple class="form-control form-control-dark form-control-lg" name="cats" id="cats" size="10">
    {{#each cats as |c|}}
        <option value="{{c.id}}">{{c.category_name}}</option>
    {{/each}}
    </select>
    </div>
    <div class="form-group mb-2">
        <button type="submit" class="btn btn-outline-light btn-block font-weight-bold mb-0">
        <i class="fas fa-filter" aria-hidden="true"></i>
            Filter By Selected Categories

        </button>
    </div>
    </form>
</div>

{{#if at_home}}
<nav aria-label="pagination">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=1&limit=10">1</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=2&limit=10">2</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=3&limit=10">3</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=4&limit=10">4</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=5&limit=10">5</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=6&limit=10">6</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=7&limit=10">7</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=8&limit=10">8</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=9&limit=10">9</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=10&limit=10">10</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=11&limit=10">11</a></li>
        <li class="page-item"><a class="page-link bg-info text-light border-0" href="/?page=12&limit=10">12</a></li>
    </ul>

</nav>

{{/if}}

<i><i class="fas fa-info-circle text-lg"></i>Click on author's image or post title to view post individually on a new page...</i>
{{#each all as  |p|}}

    <div class="media bg-body border-light rounded-4xl my-3 py-4 px-3">
        <a class="d-flex align-self-center mr-3" href="/post/user/{{p.user_id}}">
            <img class="img-author rounded-2xl bg-secondary p-1" src="{{p.user.img_url}}" alt="">
        </a>
        <div class="media-body bg-light text-left rounded-4xl py-4 px-3">
            <a href="/post/view/{{p.id}}" class="post-title text-2xl text-dark"><i
                    class="fab fa-bimobject text-3xl mx-2"></i>{{p.title}}</a>
            <p class="text-lg font-italic"><i class="fas fa-envelope mx-2"></i>{{p.content}}</p>
            <p class="text-center my-0">
                <i class="fas fa-tags m-2"> {{p.category.category_name}} </i>
                <i class="fas fa-calendar-alt m-2"> {{format_date p.date_created}} </i>
                <i class="fas fa-user m-2"> {{p.user.name}} </i>
            </p>
            <hr class="my-0 border-body">
            <button class="btn btn-outline-dark border-0 btn-block text-norm p-0" type="button"
                data-toggle="collapse" data-target=".replies_for_post_{{p.id}}"
                aria-expanded="false" aria-controls="replies_for_post_{{p.id}}">
                <i class="fas fa-comments text-xl py-2"></i>
                <i class="text-lg"> Show/Hide Comments</i>
            </button>
            {{#if p.replies}}
            {{#each p.replies as |c|}}
            <div class="media collapse show my-1 rounded-2xl py-0 px-2 replies_for_post_{{p.id}}">
                <div class="media-body font-italic text-sm p-2">
                    <i class="far fa-comment-dots text-xl fa-pull-left mt-2"></i>
                    {{c.comment}}
                    <span class="font-weight-bold float-right">
                        by {{c.user.name}}
                        @ {{format_date c.date_created}}
                    </span>
                </div>
                <a class="d-flex align-self-center  disabled">
                    <img class="img-comment rounded-circle" src="{{c.user.img_url}}" alt="">
                </a>
            </div>
            {{/each}}

            {{else}}
            <p class="font-italic">
                <i class="fas fa-comment-slash text-lg"></i>
                No comments for this post..</p>
            {{/if}}
            <div class="media collapse show replies_for_post_{{p.id}}">
                <div class="media-body">

                    <form action="/post/h/reply/{{p.id}}" method="post">
                        <div class="form-group mb-0">
                            <input type="text" name="comment" id="comment" class="form-control form-control-sm"
                                value="A new comment">
                        </div>
                        <div class="form-group mt-0">
                            <input class="btn btn-outline-info btn-block" type="submit"
                                class="form-control" value="Submit comment">
                        </div>
                    </form>
                    
                </div>
                <a class="d-flex disabled">
                    <img class="img-comment rounded-2xl" src="{{c.user.img_url}}" alt="">
                </a>
            </div>
        </div>
    </div>
<p class="text-lg text-center px-0 mx-1 text-secondary" href="https://mvctechblogger.herokuapp.com">
    <span
        class="border-top border-secondary border-med pt-0 rounded-lg mr-0">Tech</span>
    <i class="fab fa-bimobject mx-0 text-2xl pt-2"></i>
    <u class="">logger</u>
</p>

{{/each}}
