<style>
  .form-group {
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    color: #772953;
    color: #e95420;
    color: silver;
  }
</style>
<h4 class="d-flex flex-row justify-content-center text-center text-ubu align-items-center text-2l">
  Welcome
  <span>
    <img src="{{user.img_url}}" class="img-thumbnail bg-transparent border-0 rounded-2xl" alt="user-img"> </span>

  {{user.name}}
</h4>
<style>
  .btn-group .far {
    font-size: 2rem;
  }

  .btn-group .fas {
    font-size: 2rem;
  }
</style>

<p class="text-center mb-0">New Post</p>
<button class="px-5 btn btn-dark btn-block shadow-lg rounded-xl" type="button"
  data-toggle="collapse" data-target="#post_content" aria-expanded="false"
  aria-controls="post_content">
  <h1 class="far fa-paper-plane"></h1>
</button>
<p class="text-center mb-0">Update Posted</p>

<button class="px-5 btn btn-primary btn-block shadow-lg rounded-xl" type="button"
  data-toggle="collapse" data-target="#posted_content" aria-expanded="false"
  aria-controls="posted_content">
  <h1 class="far fa-edit"></h1>
</button>


<div class="collapse" id="post_content">
  <div class="form-group">
    <h1 class="text-light mt-5">
      <i class="title far fa-paper-plane my-0"></i>
      post content
  </div>
  <hr class="border-dark border-med">

  <form method="POST" action="/post"
    class="collapse show rounded-up border-light bg-dark border-med border-primary mt-0 mb-5 pt-4">

    <div class="form-group shadow-lg">
      <label for="title">
        <i class="fab fa-bimobject pr-0 text-xl"></i> Category</label>
      <label for="category_id"></label>
      <select class="custom-select" name="category_id" id="category_id">
        {{#each cats as |opt| }}
        <option value="{{opt.id}}">{{opt.category_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group shadow-lg">
      <label for="title"><i class="fab fa-bimobject pr-0 text-xl"></i> Title</label>
      <input type="text" name="title" class="form-control form-control-dark"
        value="A new blog title">
    </div>
    <div class="form-group shadow-lg">
      <label for="content"><i class="fab fa-bimobject pr-0 text-xl"></i> Content</label>
      <textarea type="text" name="content" class="form-control form-control-dark ">
    A new blog content
    </textarea>
    </div>
    <div class="form-group shadow-lg">
      <input type="submit" value="Submit"
        class="px-5 btn btn-primary btn-lg btn-block rounded-xl shadow-lg">
    </div>
    <blockquote>
      <p class="text-light text-ubu text-center text-lg">Post to your blog and live feed on app</p>
    </blockquote>
  </form>
</div>
{{!--  =========================== --}}

<div class="collapse show" id="posted_content">
  <div class="form-group">
    <i class="title far fa-edit my-0"></i>
    update posted
  </div>
  <hr class="border-primary border-med">

  <div class="collapse show rounded-2xl border-light border-med border-primary mt-0 mb-5 pt-4">
    {{#each posts as |p|}}
    <div class="card bg-info border-0 mt-4 mb-2 rounded-2xl">
      <h2 class="card-header text-light">
        <i class="fab fa-blogger"></i>
          {{p.title}} 
      </h2>
  <div class="card-body bg-light">
      <p class="card-text">
        <i class="far fa-comments text-2xl"> </i>
        {{p.content}}

      </p>
  </div>
  <div class="card-footer text-light text-center">
        <i class="far fa-calendar text-xl"> </i>
        {{format_date p.date_created}}
        in 
        <i class="fas fa-tags text-xl"> </i>
        {{p.category.category_name}}
  </div>
    </div>
      <a class="btn btn-primary btn-lg py-2 mb-5 mt-2 rounded-xl" href="/post/{{ p.id}}" role="button">
        <i class="fas fa-edit"></i>
        Update Post #{{ p.id}}

      </a>
    {{/each}}


  </div>
</div>
