<div class="card bg-dark text-light border-dark border-med rounded-2xl mt-3">
    <div class="card-header py-0">
        <div class="fa-stack fa-2x">
            <i class="fa-stack-2x fas fa-comment"></i>
            <i class="fa-stack-1x fas fa-plus text-dark"></i>
        </div>
        <span class="text-xl">Type your comment here...</span>
    </div>
    <div class="card-body bg-body text-light">
        <form action="/post/reply/{{post_id}}" method="post">
            <div class="form-group">
                <input type="text" name="comment" id="comment" class="form-control "
                    value="A new comment">
                <input class="btn btn-dark btn-block mt-2" type="submit" class="form-control"
                    value="Submit comment">
            </div>
        </form>
    </div>
    <div class="card-footer py-0 text-right">
        by {{user.name}}
        <img src="{{user.img_url}}" class="img-comment" alt="comment-user">
    </div>
</div>
{{#each post as |post|}}

<div class="card border-0 bg-info text-light rounded-xl my-4">
    <div class="card-header text-2xl">
        <i class="fab fa-bimobject text-dark m-1"></i>
        {{post.title}}
    </div>
    <div class="card-body bg-silver text-norm">
        <p class="card-text text-lg text-ubu font-italic">
            <i class="fas fa-envelope text-dark m-1"></i>
            {{post.content}}</p>
    </div>
    <div
        class="card-footer d-flex flex-row justify-content-between align-items-center  text-right text-lg py-0">
        <span>
            <i class="fa-fw fas fa-tags m-1"></i>
            {{post.category.category_name}}

        </span>
        <span>
            <i class="fa-fw fas fa-calendar"> </i>
            {{format_date post.date_created}}

        </span>
        <span>
            by {{post.user.name }}
            <img class="img-author rounded-up" src="{{post.user.img_url}}" alt="post-author">

        </span>
    </div>

</div>
<button class="btn btn-outline-light border-0 btn-block btn-lg  mb-4" type="button"
    data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="comments">
    <i class="fas fa-chevron-down"></i>
    Show/Hide Comments
</button>

{{#if post.replies}}
<div class="collapse show card bg-light border-light border-med rounded-xl" id="comments">
    <div class="card-header">
        <i class="fas fa-comments text-2xl"></i>
        Comments:</div>
    <div class="card-body bg-body">
        {{#each post.replies as |c|}}
        <p class="text-xl">
            <i class="text-2xl text-dark far fa-comment-dots fa-pull-left"></i>
            {{c.comment}}
        </p>
        <div class="ml-2 text-right text-reg font-italic">
            by
            {{c.user.name}}
            <img src="{{c.user.img_url}}" class="img-comment" alt="comment-user">
        </div>
        {{/each}}

    </div>

</div>
{{else}}
<p class="text-lg">
    <i class="fas fa-comment-slash text-reg fa-pull-left"></i>
    <small class="">No comments yet</small>
</p>
{{/if}}
{{/each}}
<hr class="my-5">
<hr class="my-5">
